.console {
    border: 1px solid black;

    display: flex;
    flex-direction: column;

    width: 80%;
    height: 70vh;
    max-height: 800px;
    display: flex;
    max-width: 1000px;
    margin: auto;


    .map {
        border: 1px solid black;

        width: 95%;
        margin: 5px auto;
        height: 80%;
    }

    .interface {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;

        height: 19%;
        padding: 10px 0;
        
    }
        .chat {
            border: 1px solid black;

            width: 40%;
        }

        .controls {
            border: 1px solid black;

            width: 30%;
        }

        .score {
            border: 1px solid black;

            width: 20%;
        }
    }